* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body {
    background-color: black;
}

nav {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    background-color: black;
    background: blueviolet;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(187, 19, 239);
    /* background: linear-gradient( rgb(208, 0, 255) ,rgb(224, 175, 238) ); */
}

.nav-elements {
    /* background-image: linear-gradient(rgb(208, 0, 255),rgb(224, 175, 238)); */
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo {
    /* background-image: linear-gradient(rgb(208, 0, 255),rgb(224, 175, 238)); */
    /* transform: scale(1.5rem); */
    height: 5rem;

}

ul {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    /* border: 2px solid red; */
    list-style: none;
    /* font: 4rem; */
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: linear-gradient(rgb(208, 0, 255),rgb(224, 175, 238)); */
}

.container>input {
    border-radius: 5rem;
    font-size: 1rem;
    height: 2.5rem;
    text-align: center;

}

li {
    /* background-image: linear-gradient(rgb(208, 0, 255),rgb(224, 175, 238)); */
}

.content {
    color: white;
    /* margin: 1.5rem; */
    font-size: 5rem;
}

#get {
    margin-top: 1.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin-top: 6rem;
    margin: 3rem;
}

button {
    background-color: rgb(187, 19, 239);
    height: 3rem;
    width: 10rem;
    color: white;
    border-radius: 3rem;

}

button:hover {
    box-shadow: 0px 0px 20px white;
}

.food-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#food-img {
    width: 30vw;
    margin-top: 3rem;
    /* border: 2px solid red; */
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid white;
    font-size: 2rem;
    height: 24rem;
    width: 20rem;
    margin: 4rem;
    text-align: center;
    background-color: rgb(177, 78, 207);
    ;
    background-color: rgba(245, 129, 245, 0.5);
    border-radius: 1rem;


    background: rgb(49, 49, 48);
    background: linear-gradient(180deg, rgba(49, 49, 48, 0.9360994397759104) 0%, rgba(188, 0, 255, 1) 29%, rgba(236, 235, 220, 1) 100%);

}

.food:hover {
    box-shadow: 0px 0px 20px rgb(219, 188, 248);
}

i {
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    flex-wrap: wrap;
}

.food>img {
    height: 13rem;
    width: 17rem;
    margin-top: 2rem;
    /* margin-bottom: ; */

}

.visit-btn {
    width: 100px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.visit-btn:hover {
    box-shadow: 0px 0px 30px black;
}

.title {
    margin-top: 1rem;
}

/* #breakfast>img {
    height: 13rem;
    width: 17rem;

} */

.footer {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(49, 49, 48);
    background: linear-gradient(319deg, rgba(49, 49, 48, 0.9360994397759104) 0%, rgba(188, 0, 255, 1) 29%, rgba(236, 235, 220, 1) 100%);
    ;
}

@media only screen and (max-width: 872px) {
    .content {
        font-size: 3.99rem
    }

    ul {
        font-size: 1.25rem;
    }

    .container>input {
        font-size: 50%;
        height: 1.5rem;
    }
    .food{
        height: 23.9rem;
        width: 19.7rem;
        
    }
    .food>img{
        height: 60%;
        width: 80%;
    }
    button{
        height: 2rem;
        width: 8rem;
    }
    .visit-btn{
        height: 36px;
    }
    .footer{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 630px) {
    .content {
        font-size: 2.69rem;
    }

    ul {
        font-size: 1rem;
    }

    .container>input {
        font-size: 50%;
        height: 1.5rem;
        
    }
    .food{
        font-size: 1.5rem;
    }
    .visit-btn{
        height: 30px;
        text-align: center;
        width: 75px;
    }
    .footer{
        font-size: 1rem;
    }
}

@media only screen and (max-width:459px) {
    .content {
        font-size: 1.73rem;
    }

    ul {
        font-size: 0.8rem;
    }

    .container>input {
        font-size: 50%;
        height: 1rem;
        width: 4rem;
    }
    nav{
        height: 3.5rem;
    }
    .food{
        font-size: 1rem;
        
    }
    .visit-btn{
        height: 30px;
        text-align: center;
        width: 60px;
    }
    .footer{
        font-size: 0.8rem;
    }
    .food{
        height: 16rem;
        width: 12rem;
    }
    #logo{
        height: 2rem;
    }


}
@media only screen and (max-width:375px){
    .content {
        font-size: 1.73rem;
    }
    ul{
        font-size: 0.8rem;
    }

    .container>input{
        font-size:50%;
        height:0.9rem;
        width: 4rem;
    }
    #logo{
        height: 3rem;
    }
    nav{
        height: 3.5rem;
    }
    .footer{
        font-size: 0.5rem;
    }
    .food{
        height: 16rem;
        width: 12rem;
    }
}